<!DOCTYPE html>
<html>
  <head>
    <title>M Arief Renaldy</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div>
      <h1>Counter</h1>
      <p><%= counter %></p>
      <form method="POST" action="/increase-counter" class="comment">
        <button type="submit">increase-counter</button>
      </form>
    </div>

    <div class="flex">
      <h1>Komentar</h1>
      <p class="num-com"><%= comments.length %></p>
    </div>
    <div>
      <form method="POST" action="/add-comment" class="comment">
        <input type="text" name="nama" placeholder="nama" />
        <input type="text" name="text" placeholder="text" />
        <button type="submit">submit</button>
      </form>
    </div>

    <ul>
      <% comments.forEach((e)=> { %>
      <li>
        <h3><%= e.nama %></h3>
        <p><%= e.text %></p>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
