body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.flex {
  display: flex;
}

.num-com {
  margin-left: 4px;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment input,
.comment button {
  width: 200px;
  margin-bottom: 6px;
}
